<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
<div class='well'>
  <h2>Add inhaalexamen</h2>
  <br/><br/>
  <form action='/add' method='POST'>
   <table>
     <tr><td>Name Student: </td><td><input type='text' name='name'></td></tr>
     <tr><td>examen : </td><td><input type='text' name='examen'></td></tr>
     <tr><td>Date : </td><td><input type="text" name='date'></td></tr>
     <tr><td><button type='submit'>Add</button></td></tr>
   </table>
  </form>
</div>
</body>
</html>
