<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Examens</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
  <h2>Result</h2>
  <br/><br/>
  <ul class='examen'>
      <% for(var i=0; i < inhaal.length; i++) {%>
        <li class='examen'>
          <span><b>Name : </b><%= inhaal[i].name %></span><br />
          <span><b>examen : </b><%= inhaal[i].examen %></span><br />
          <span><b>reden : </b><%= inhaal[i].reden %></span><br />
          <span><b>datum : </b><%= inhaal[i].date %></span><br />
        </li>
        <br/><br/>
      <% } %>
      </ul>

  <a href='/add'>Add examen</a>&nbsp;&nbsp;<a href='/search'>Search examen</a>
</body>
</html>
