<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>Products</title>
  <link rel='stylesheet' href='css/bootstrap.min.css'>
</head>
<body>
    <h2>Student not found</h2>
    <a href='/add'>Add examen</a>&nbsp;&nbsp;<a href='/search'>Search examen</a>
</body>
</html>
